.month-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .body {
    background-image: url('../images/wallpaper.jpg'); /* Replace with the actual path to your image */
    background-size:contain; /* Scale the image to cover the entire body */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
  }
  .card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .budget-card {
    background-color: lightblue;
  }
  
  .financial-tally-card {
    background-color: lightgreen;
  }
  
  .income-card {
    background-color: lightyellow;
  }
  
  .expenditure-card {
    background-color: lightpink;
  }
  